.btn-primary:hover,
.btn-primary:hover:focus {
  background-color: $blue-hover;
  border-color: $blue-hover;
}
.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

.btn-link-primary {
  border-color: transparent;
  position: relative;
  color: $primary;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    color: $primary;
    border-color: transparent;
    background-color: transparent;
  }

  &:hover:after,
  &:focus:after {
    content: '';
    width: calc(100% - 5rem);
    height: 2px;
    background-color: $primary;
    position: absolute;
    bottom: $btn-padding-y / 2;
    left: $btn-padding-x;
  }
}

.btn-outline-light {
  color: white;
  border-color: white;
  background-color: transparent;
  border: 2px solid white;

  &:hover,
  &:focus {
    color: white;
    background-color: $blue-hover;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:not(:disabled):not(.disabled):active {
    color: white;
    background-color: $blue-hover;
  }
}

.btn-medium {
  padding: 18px 68px;
}

.btnBlue {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px;
  margin: 25px 0;
  color: #fff;
  background-color: #04f;
  border: 1px solid #04f;
  transition: 0.35s ease;
  @include media-breakpoint-down(sm) {
    padding: 8px 20px;
    display: block;
  }
  &:hover {
    background-color: transparent;
    color: #04f;
  }
}

.outlineArrowBlue {
  color:#04f;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
