// Override Bootstrap variables here

$gray-100: #ececec;
$gray-200: #dddddd;
$gray-300: #bababa;
$gray-400: #8b8b8b;
$gray-500: #747474;
$gray-600: #666666;
$gray-700: #464646;
$gray-800: #2e2e2e;
$gray-900: #171717;

$grey-gencove: #a6a6a6;
$grey-light: #e6e6e6;
$blue: #0044ff;
$green: #2fc95a;
$cyan: #72d1fa;
$error: #e0182d;

$blue-hover: #0000ff;

$light: #f2f5f7;
$dark: #161616;

$aqua: #1becec;

$font-family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1156px
) !default;

$font-weight-base: 300;
$headings-font-weight: 700;

$spacer: 0.5rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 1
    ),
    2: (
      $spacer * 2
    ),
    3: (
      $spacer * 3
    ),
    4: (
      $spacer * 4
    ),
    5: (
      $spacer * 5
    ),
    6: (
      $spacer * 6
    ),
    7: (
      $spacer * 7
    ),
    8: (
      $spacer * 8
    ),
    9: (
      $spacer * 9
    ),
    10: (
      $spacer * 10
    ),
    // 80px
    11:
      (
        $spacer * 11
      ),
    12: (
      $spacer * 12
    ),
    // 96px
  ),
  $spacers
);

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$btn-padding-x: 2.5rem;
$btn-padding-y: 1rem;
$btn-font-weight: 700;
$btn-line-height: 1;
