@import 'core';

@import '~bootstrap/scss/reboot';

// custom reset
@import 'reset';

@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';

// custom buttons
@import 'buttons';

@import '~bootstrap/scss/card';

// slick
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

// custom slick
@import 'slick';

//headroom
@import 'headroom';

@import '~bootstrap/scss/utilities';

// custom utilities
@import 'utilities';

body > div {
  @include media-breakpoint-only(xs) {
    overflow-x: hidden;
  }
}

.container,
.container-fluid {
  @include media-breakpoint-down(sm) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
