.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.headroom--unfixed {
  position: absolute;
}
.headroom--scrolled {
  transition: transform 0.5s ease-in-out !important;
}
.headroom--unpinned {
  position: relative;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
