@import 'core';

.slick-prev {
  transform: rotate(180deg);
}

.slick-arrow {
  width: 24px;
  z-index: 10;
  color: black;
}

.slick-disabled {
  opacity: 0.2;
}

.slick-prev:hover,
.slick-next:focus {
  color: $blue;
}
.slick-next:hover,
.slick-next:focus {
  color: $blue;
}

#testimonials .slick-prev {
  top: unset;
  left: unset;
  bottom: 17px;
  right: 74px;
  @include media-breakpoint-down(sm) {
    bottom: -41px;
    right: unset;
    left: 0px;
  }
}

#testimonials .slick-next {
  top: unset;
  left: unset;
  bottom: 17px;
  right: 0px;
  transform: unset;
  @include media-breakpoint-down(sm) {
    bottom: -41px;
    right: unset;
    left: 72px;
  }
}

#news .slick-list {
  overflow: unset;
}

#news .slick-prev {
  top: unset;
  left: unset;
  bottom: -57px;
  right: calc(100% - 1054px);
  @include media-breakpoint-down(lg) {
    right: calc(100% - 858px);
  }
  @include media-breakpoint-down(md) {
    right: calc(100% - 618px);
  }
  @include media-breakpoint-down(sm) {
    bottom: -41px;
    right: unset;
    left: 0px;
  }
}

#news .slick-next {
  top: unset;
  left: unset;
  bottom: -57px;
  right: calc(100% - 1126px);
  transform: unset;
  @include media-breakpoint-down(lg) {
    right: calc(100% - 930px);
  }
  @include media-breakpoint-down(md) {
    right: calc(100% - 690px);
  }
  @include media-breakpoint-down(sm) {
    bottom: -41px;
    right: unset;
    left: 72px;
  }
}

#news .slick-slide:last-child {
  visibility: hidden;
}
