@import 'core';

.wrap {
  overflow: hidden;
  color: black;
}
.content {
  position: relative;
  padding: 88px 0px;
  &::after {
    content: '';
    position: absolute;
    width: 100vw;
    bottom: 0px;
    height: 2px;
    background-color: $gray-100;
  }

  @include media-breakpoint-down(sm) {
    padding: 56px 0px 0px;
    &::after {
      content: none;
    }
  }
}

.title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.04em;
  margin-bottom: 24px;
  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
  }
}

.subTitle {
  font-size: 56px;
  line-height: 62px;
  font-weight: 700;
  letter-spacing: -0.04em;
  margin-bottom: 0;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 39px;
  }
}
