@import 'core';

.wrap {
  overflow: hidden;
  background-color: $light;
  color: black;
  padding: 119px 0px;
  @include media-breakpoint-down(sm) {
    padding: 79px 0px 104px;
  }
}

.wrapWhite {
  overflow: hidden;
  background-color: #fff;
  color: black;
  padding: 20px 0px;
  @include media-breakpoint-down(sm) {
    padding: 24px 0px;
  }
}

.wrapBlack {
  overflow: hidden;
  background-color: #000;
  color: #fff;
  padding: 75px 0px;
  @include media-breakpoint-down(sm) {
    padding: 79px 0px 104px;
  }
}

.wrapSectionThree {
  overflow: hidden;
  background-color: #fff;
  color: black;
  padding: 0px;
  background-image: url('/img/enterprise/circularShape-d.svg');
  background-repeat: no-repeat;
    background-position: 75% 0;
    background-size: 20%;
  @include media-breakpoint-down(md) {
    padding: 0px;
    background-size: 40%;
    background-position: 130% -20%;
  }
}

.title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 24px;
  }
}

.sectTitleLight {
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: -0.03em;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 41px;
  }
}

.subTitle {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 41px;
  }
}

.smallTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #04f;
  letter-spacing: -0.04em;
  margin: 16px 0;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

.smallTitleBlack {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.04em;
  margin: 16px 0;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

.rowNum {
  font-size: 8rem;
  text-align: right;
  font-weight: 700;
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #04f;
  margin-top: -.2em;
  @include media-breakpoint-down(md) {
  text-align: left;
  }
  @include media-breakpoint-down(sm) {
  font-size: 7rem;
  }
}

.subTitleCTA {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: #04f;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
  }
}

.btnBlue {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px;
  margin: 25px 0;
  color: #fff;
  background-color: #04f;
  border: 1px solid #04f;
  transition: 0.35s ease;
  @include media-breakpoint-down(sm) {
    padding: 8px 20px;
    display: block;
  }
  &:hover {
    background-color: transparent;
    color: #04f;
    text-decoration: none;
  }
}

.btnBlue:hover .outlineArrowBlue {
  -webkit-text-stroke-color: #04f;
}

.outlineArrowBlue {
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

.numberList {
  margin-left: 15px;
  @include media-breakpoint-down(md) {
    margin-left: 0px;
    margin-top: 56px;
  }
}

.numberListItem {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.03em;
  padding-bottom: 25px;
  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 24px;
  }
}

.card {
  padding: 32px 24px 19px;
  margin-right: 24px;
  background-color: $light;
  color: black;
  position: relative;
  max-width: 360px;
  transition: all 0.25s;
  z-index: 1;

  &:hover {
    transform: translateY(-8px);
    border-top: 5px solid #04f;
  }
  @include media-breakpoint-down(md) {
    &:hover {
      transform: translateY(0);
    }
  }
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    margin: 0 0 25px;
  }
}

.cardTop {
  padding: 32px 24px 19px;
  margin: 0 24px 24px 0;
  background-color: $light;
  color: black;
  position: relative;
  max-width: 360px;
  transition: all 0.25s;
  background-image: url('/img/about/verticalLines-m.svg');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: right;
  
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    margin: 0 0 15px;
  }
}

.cardTopTwo {
  padding: 32px 24px 19px;
  margin: 0 24px 24px 0;
  background-color: $light;
  color: black;
  position: relative;
  max-width: 360px;
  transition: all 0.25s;
  background-image: url('/img/news/circular-b.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% 100%;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    margin: 0 0 15px;
  }
}

.cardTopThree {
  padding: 32px 24px 19px;
  margin: 0 24px 24px 0;
  background-color: $light;
  color: black;
  position: relative;
  max-width: 360px;
  transition: all 0.25s;
  background-image: url('/img/testimonials/lines-d.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 100% 100%;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    margin: 0 0 15px;
  }
}

.pricingTitle {
  font-size: 24px;
  line-height: 62px;
  font-weight: 700;
  color: #04f;
  letter-spacing: -0.04em;
  margin-top: 32px;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 39px;
    margin-top: 24px;
  }
}

.pricingDetail {
  font-size: 20px;
  padding: 10px;
  cursor: help;
  @include media-breakpoint-down(sm) {
    padding: 5px;
    font-size: 16px;
  }
}

.pricingUL {
  list-style: none;
}

.pricingULItem {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.03em;
  padding-bottom: 10px;

  &::before {
    content: "-";
    font-weight: 700;
    color: #04f;
    display: inline-block;
    width: 25px;
    margin-left: -25px;
  }

  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 24px;
  }
}

// Tooltip
.tooltiptext {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 20vw;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 25px;

  /* Position the tooltip */
  position: absolute;
  top: 75px;
  left: -9%;
  z-index: 10000000;
  &::before {
    content: url(/img/triangle.svg);
    position: absolute;
    top: -15px;
    left: 47%;
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

// ** Tooltip

.tooltipTwo .tooltiptext {
  visibility: hidden;
  width: 20vw;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 25px;

  /* Position the tooltip */
  position: absolute;
  top: 71%;
  left: -9%;
  z-index: 10000000;
  &::before {
    content: url(/img/triangle.svg);
    position: absolute;
    top: -15px;
    left: 47%;
  }
}

.tooltipTwo:hover .tooltiptext {
  visibility: visible;
}

// *** Tooltip

.tooltipThree .tooltiptext {
  visibility: hidden;
  width: 20vw;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 25px;

  /* Position the tooltip */
  position: absolute;
  top: 74%;
  left: -9%;
  z-index: 10000000;
  &::before {
    content: url(/img/triangle.svg);
    position: absolute;
    top: -15px;
    left: 47%;
  }
}

.tooltipThree:hover .tooltiptext {
  visibility: visible;
}

// **** Tooltip

.tooltipFour .tooltiptext {
  visibility: hidden;
  width: 20vw;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 25px;

  /* Position the tooltip */
  position: absolute;
  top: 78%;
  left: -9%;
  z-index: 10000000;
  &::before {
    content: url(/img/triangle.svg);
    position: absolute;
    top: -15px;
    left: 47%;
  }
}

.tooltipFour:hover .tooltiptext {
  visibility: visible;
}

// **** Tooltip 2

.tooltipFive .tooltiptext {
  visibility: hidden;
  width: 20vw;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 25px;

  /* Position the tooltip */
  position: absolute;
  top: 80%;
  left: -9%;
  z-index: 10000000;
  &::before {
    content: url(/img/triangle.svg);
    position: absolute;
    top: -15px;
    left: 47%;
  }
}

.tooltipFive:hover .tooltiptext {
  visibility: visible;
}
