@import 'core';

@function get-breakpoints($key) {
  @return map-get($container-max-widths, $key);
}

$border-width: 40px;

$margin-l-xl: calc(((100% - #{get-breakpoints('xl')}) / 2) + (#{$border-width}/ 2));
$margin-r-xl: calc(((100% - #{get-breakpoints('xl')}) / 2) - (#{$border-width}/ 2));
$margin-l-lg: calc(((100% - #{get-breakpoints('lg')}) / 2) + (#{$border-width}/ 2));
$margin-r-lg: calc(((100% - #{get-breakpoints('lg')}) / 2) - (#{$border-width}/ 2));
$margin-l-md: calc(((100% - #{get-breakpoints('md')}) / 2) + (#{$border-width}/ 2));
$margin-r-md: calc(((100% - #{get-breakpoints('md')}) / 2) - (#{$border-width}/ 2));

.wrap {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: $dark;

  &::before {
  }

  &:after {

  }

  @include media-breakpoint-down(sm) {
    border-right: none;
    &:after {
      width: 147px;
      height: 24px;
    }
  }
}

.linesShape {
  width: 100%;
  height: 100%;
  position: absolute;
}

.video {
  width: 100vw;
  height: 99.8%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  @include media-breakpoint-down(sm) {
    height: 100%;
  }
}
.overlay {
  width: 100vw;
  height: 99.8%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2);
  @include media-breakpoint-down(sm) {
    height: 100%;
  }
}

.content {
  z-index: 2;
  margin-right: $margin-r-xl;
  margin-left: $margin-l-xl;
  @include media-breakpoint-down(lg) {
    margin-right: $margin-r-lg;
    margin-left: $margin-l-lg;
  }
  @include media-breakpoint-down(md) {
    margin-right: $margin-r-md;
    margin-left: $margin-l-md;
  }
  @include media-breakpoint-down(sm) {
    margin-right: auto;
    margin-left: auto;
  }
}

.title {
  font-size: 56px;
  line-height: 62px;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #fff;
  max-width: 930px;
  margin: 215px 0px 15px;
  @include media-breakpoint-down(md) {
    margin: 164px 0px 15px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 39px;
    margin: 145px 0px 15px;
  }
}

.link {
  display: inline-block;
  margin: 15px 0 215px;
  outline: 0;
  cursor: pointer;

  p {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s ease-in;
    position: relative;
    padding-bottom: 6px;
  }

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    p {
    }
  }
  @include media-breakpoint-down(md) {
    margin: 15px 0px 164px;
  }
  @include media-breakpoint-down(sm) {
    margin: 15px 0px 145px;
  }
}

.outlineArrow {
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

.arrow {
  color: #ffffff;
  margin: -1px 0 0 10px;
}
