@import 'core';

.wrap {
  overflow: hidden;
  background-color: $light;
  color: black;
  padding: 119px 0px;
  @include media-breakpoint-down(sm) {
    padding: 79px 0px 104px;
  }
}

.title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-bottom: 32px;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 24px;
  }
}

.subTitle {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 650px;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 41px;
  }
}

.btnBlue {
  display: inline-block;
  font-weight: 700;
  padding: 16px 27.5px;
  @include media-breakpoint-down(sm) {
    padding: 19px 27.5px;
    display: block;
  }
}
