@import 'core';

.wrap {
  padding-top: 3.75rem;
  @include media-breakpoint-down(sm) {
    padding-bottom: 1rem;
    padding-top: 2rem;
  }
}

.title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-bottom: 65px;
  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 56px;
  }
}

.copy {
  fill: $black;
  font-family: inherit;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.03em;
  white-space: pre;
}

.label {
  fill: $black;
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.03em;
  white-space: pre;
}

@include media-breakpoint-down(md) {
  .figure {
    width: 146%;
    margin-left: -23%;
  }
}

.diagram {
  overflow: hidden;
  position: relative;
}

.area {
  cursor: default;
}

.reload {
  background: transparent;
  border: 0;
  color: $gray-600;
  font: inherit;
  padding: 0;
  position: absolute;
  right: 0;
  top: -98px;
}

.reload {
  svg {
    transition: transform 0.35s ease;
  }

  &:active {
    svg {
      transform: rotate(-180deg);
    }
  }
}

.componentsMobile {
  width: 100%;
}
