@import 'core';

.wrap {
  overflow: hidden;
  background-color: #000;
  color: #fff;
  padding: 75px 0px;
  @include media-breakpoint-down(sm) {
    padding: 55px 0px;
  }
}

.title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-bottom: 32px;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 39px;
  }
}

.title2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-bottom: 32px;
  color: #fff;
  margin-top: -25px;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 39px;
  }
}

.sectTitleLight {
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: -0.03em;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
  }
}

.subTitle {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.03em;
  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 48px;
  }
}

.btnBlue {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px;
  margin: 25px 0;
  color: #fff;
  background-color: #04f;
  border: 1px solid #04f;
  transition: 0.35s ease;
  @include media-breakpoint-down(sm) {
    padding: 8px 20px;
    display: block;
  }
  &:hover {
    background-color: transparent;
    color: #04f;
    text-decoration: none;
  }
}

.btnBlue:hover .outlineArrowBlue {
  -webkit-text-stroke-color: #04f;
}

.outlineArrowBlue {
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}
