@import 'core';

@function get-breakpoints($key) {
  @return map-get($container-max-widths, $key);
}

.wrap {
  height: 677px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.video {
  width: 100vw;
  height: 99.8%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  @include media-breakpoint-down(sm) {
    height: 83.3%;
  }
}
.overlay {
  width: 100vw;
  height: 99.8%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2);
  @include media-breakpoint-down(sm) {
    height: 83.3%;
  }
}

.content {
  position: relative;
  z-index: 2;
  @include media-breakpoint-down(sm) {
    margin-top: -50px;
  }
}

.title {
  font-size: 88px;
  line-height: 1;
  color: #fff;
  max-width: 880px;

  @include media-breakpoint-down(md) {
    font-size: 8vw;
  }

  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }
}


.link {
  display: inline-block;
  margin-top: 48px;
  outline: 0;
  cursor: pointer;

  p {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s ease-in;
    position: relative;
    padding-bottom: 6px;
  }

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;

    p {
      border-bottom: 2px solid #fff;
    }
  }
}

.outlineArrow {
  color:#000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.arrow {
  color: #ffffff;
  margin: -1px 0 0 10px;
}

.wrap .bottom_link {
  position: absolute;
  right: 117px;
  bottom: 64px;
  max-width: 333px;
  z-index: 2;

  .link {
    line-height: 26px;

    p {
      padding-bottom: 3px;
    }
  }

  @include media-breakpoint-down(sm) {
    max-width: unset;
    width: 100%;
    right: unset;
    left: 0px;
    padding-left: calc(((100% - #{get-breakpoints('sm')}) / 2) + 24px);
    padding-right: calc(((100% - #{get-breakpoints('sm')}) / 2) + 24px);
    bottom: 8px;
    & > .link > p {
      display: inline;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.04em;
    }
    & > .link > p,
    & > .link > .arrow {
      color: black;
    }
  }
  @include media-breakpoint-down(xs) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
