@import 'core';

@function get-breakpoints($key) {
  @return map-get($container-max-widths, $key);
}

//parent width = 100%
$padding-xl: calc((100% - #{get-breakpoints('xl')}) / 2);
$padding-lg: calc((100% - #{get-breakpoints('lg')}) / 2);
$padding-md: calc((100% - #{get-breakpoints('md')}) / 2);
$padding-sm: calc((100% - #{get-breakpoints('sm')}) / 2);
$padding-xs: 24px;

//parent width = 48.5%
$padding-xl-d: calc((206.185% - #{get-breakpoints('xl')}) / 2);
$padding-lg-d: calc((206.185% - #{get-breakpoints('lg')}) / 2);
$padding-md-d: calc((206.185% - #{get-breakpoints('md')}) / 2);

.wrap {
  overflow: hidden;
  display: flex;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.leftBox {
  width: 48.5%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100vh;

  &::after {

  }
  .bgDark {
    height: 100%;
    position: relative;
    z-index: -1;
    background-color: $blue;
    color: #ffffff;
    padding-left: $padding-xl-d;
    padding-right: 128px;

    // @include media-breakpoint-down(md) {
    //   &::before {
    //     content: ' ';
    //     position: absolute;
    //     background: url('/img/contact/contactCircularShape-d.svg') no-repeat top right;
    //     width: 728px;
    //     height: 728px;
    //     left: -308px;
    //     bottom: -243px;
    //     z-index: -1;
    //   }
    // }
    .texts {
      padding: 154px 15px 0px;

      .title {
        font-size: 56px;
        line-height: 64px;
        font-weight: 700;
        letter-spacing: -0.04em;
        margin-bottom: 24px;
      }
      .subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.03em;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    height: unset;
    .bgDark {
      padding-right: $padding-lg-d;
      padding-left: $padding-lg-d;
    }
  }
  @include media-breakpoint-down(md) {
    .bgDark {
      padding-left: $padding-md-d;
      padding-right: $padding-md-d;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 1px;
    width: 100%;
    &::after {
      width: 147px;
      height: 24px;
    }
    .bgDark {
      width: 100%;
      padding-left: $padding-sm;
      padding-right: $padding-sm;

      &::after {
        width: 147px;
        height: 24px;
      }
      .texts {
        padding: 112px 0px 0px;

        .title {
          font-size: 32px;
          line-height: 39px;
          margin-bottom: 8px;
        }
        .subtitle {
          font-size: 16px;
          line-height: 24px;
          padding-bottom: 48px;
        }
      }
    }
  }
  @include media-breakpoint-down(xs) {
    .bgDark {
      padding-left: $padding-xs;
      padding-right: $padding-xs;
    }
  }
}

.rightBox {
  width: 51.5%;
  background-color: #ffffff;
  color: $dark;
  padding-top: 154px;
  padding-left: 128px;
  padding-bottom: 195px;
  padding-right: $padding-xl;
  height: 100vh;
  @include media-breakpoint-down(lg) {
    height: unset;
    padding-right: $padding-lg;
    padding-left: $padding-lg;
  }
  @include media-breakpoint-down(md) {
    padding-left: $padding-md;
    padding-right: $padding-md;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 40px;
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }
  @include media-breakpoint-down(xs) {
    padding-left: $padding-xs;
    padding-right: $padding-xs;
  }
}
