@import 'core';

@function get-breakpoints($key) {
  @return map-get($container-max-widths, $key);
}

$border-width: 40px;

$margin-l-xl: calc(((100% - #{get-breakpoints('xl')}) / 2) + (#{$border-width}/ 2));
$margin-r-xl: calc(((100% - #{get-breakpoints('xl')}) / 2) - (#{$border-width}/ 2));
$margin-l-lg: calc(((100% - #{get-breakpoints('lg')}) / 2) + (#{$border-width}/ 2));
$margin-r-lg: calc(((100% - #{get-breakpoints('lg')}) / 2) - (#{$border-width}/ 2));
$margin-l-md: calc(((100% - #{get-breakpoints('md')}) / 2) + (#{$border-width}/ 2));
$margin-r-md: calc(((100% - #{get-breakpoints('md')}) / 2) - (#{$border-width}/ 2));

.wrap {
  overflow: hidden;
  padding: 1px 0px;
  position: relative;
  background-color: #ffffff;
}

.bgDark {
  padding: 70px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  background-color: $dark;
  color: #ffffff;

  @include media-breakpoint-down(md) {
    border-right: 0;
    padding: 50px 0;
  }
}

/* .container {
  margin-right: $margin-r-xl;
  margin-left: $margin-l-xl;
  @include media-breakpoint-down(lg) {
    margin-right: $margin-r-lg;
    margin-left: $margin-l-lg;
  }
  @include media-breakpoint-down(md) {
    margin-right: $margin-r-md;
    margin-left: $margin-l-md;
  }
  @include media-breakpoint-down(sm) {
    margin-right: auto;
    margin-left: auto;
  }
} */

.header {
  position: relative;
  padding-bottom: 104px;
  @include media-breakpoint-down(sm) {
    padding-bottom: 72px;
  }
}
.header::after {
  content: '';
  width: 100vw;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  @include media-breakpoint-down(sm) {
    content: none;
  }
}

.paragraph {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.03em;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
  }
}
.paragraph2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 22px;
  }
}

.heading2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-bottom: 25px;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 32px;
  }
}

.heading3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 29px;
  }
}

.heading4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.03em;
  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 22px;
  }
}

.title {
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -0.04em;
  margin-bottom: 32px;
  max-width: 650px;
  @include media-breakpoint-down(sm) {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.03em;
    margin-bottom: 16px;
  }
}

.subTitle {
  max-width: 655px;
  margin-bottom: 80px;
  line-height: 32px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 22px;
  }
}

.ol {
  position: relative;
  padding-left: 37px;
  @include media-breakpoint-down(sm) {
    padding-left: 0px;
  }
}

.ol::before {
  content: '1.';
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
  color: #ffffff;
  position: absolute;
  left: 0px;
  top: 0px;
  @include media-breakpoint-down(sm) {
    content: none;
  }
}
.ol > h3 {
  max-width: 580px;
  margin-bottom: 16px;
  @include media-breakpoint-down(sm) {
    margin-top: 48px;
  }
}

.ol > p {
  margin-bottom: 40px;
  max-width: 580px;
}

.ol:last-child > h3 {
  margin-bottom: 40px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 0px;
  }
}

.ol:last-child::before {
  content: '2.';
  @include media-breakpoint-down(sm) {
    content: none;
  }
}

.setup {
  width: 33%;
  @include media-breakpoint-down(sm) {
    width: 100%;
    margin-top: 24px;
  }
}

.setupSubTitle {
  margin-top: 8px;
  max-width: 270px;
  margin-right: 15px;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 22px;
    max-width: 300px;
  }
}

.saas {
  display: flex;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  @include media-breakpoint-down(md) {
    padding: 0;
  }
}

.saasText {
  width: 39%;
  padding-right: 95px;
  @include media-breakpoint-down(md) {
    width: 100%;
    padding-right: 0px;
  }
}

.saasSubTitle {
  margin-top: 32px;
  @include media-breakpoint-down(sm) {
    margin-top: 16px;
  }
}

.saasImg {
  width: 50%;
  @include media-breakpoint-down(md) {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
    left: 0px;
  }
  .videoBox {
    width: 100%;
    position: relative;
    @include media-breakpoint-down(sm) {
      position: relative;
      width: calc(100% + 48px);
      left: -24px;
    }
    .video {
      width: 100%;
      z-index: 0;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 0;
      color: black;
      background-color: rgba(0, 0, 0, 0.16);
      display: flex;
      align-items: center;
      justify-content: center;

      .play {
        background-color: transparent;
        border: none;
        outline: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        z-index: 1;
        padding-bottom: 6px;
        position: relative;

        &:hover:after,
        &:focus:after {
          content: '';
          width: calc(100% - 38px);
          height: 2px;
          background-color: black;
          position: absolute;
          bottom: 0;
          left: 6px;
        }
      }
      .overlayArrow {
        margin: -1px 0 0 10px;
      }
    }
  }
  .imgText {
    display: inline-block;
    margin-top: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s ease-in;
    outline: 0;

    & span {
      padding-bottom: 6px;
    }

    .arrow {
      margin: -1px 0 0 10px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: #ffffff;
      & span {
        border-bottom: 2px solid #ffffff;
      }
    }
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 25%;
  padding-right: 64px;
  @include media-breakpoint-down(md) {
    padding-right: 24px;
  }
  @include media-breakpoint-down(sm) {
    width: 50%;
  }
}

.box:nth-child(even) {
  @include media-breakpoint-down(sm) {
    padding: 0 0 0 12px;
  }
}

.box:nth-child(odd) {
  @include media-breakpoint-down(sm) {
    padding: 0 12px 0 0;
  }
}

.icon {
  margin-bottom: 16px;
  @include media-breakpoint-down(sm) {
    width: 56px;
    height: 56px;
  }
}

.featuresSubTitle {
  margin: 8px 0 48px;
}

.btnBlue {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px;
  margin: 25px 0;
  color: #fff;
  background-color: #04f;
  border: 1px solid #04f;
  transition: 0.35s ease;
  @include media-breakpoint-down(sm) {
    padding: 8px 20px;
    display: block;
  }
  &:hover {
    background-color: transparent;
    color: #04f;
    text-decoration: none;
  }
}

.btnBlue:hover .outlineArrowBlue {
  -webkit-text-stroke-color: #04f;
}

.outlineArrowBlue {
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}


