@import 'core';

.col-lg {
    padding-right: 0px !important;
    padding-right: 0px !important;
}

.wrap {
  color: black;
  overflow: hidden;
}

.content {
padding-top: 40px;
    position: relative;
    padding-bottom: 40px;

  &::before,
  &::after {
    content: '';
    width: 100vw;
    height: 1px;
    position: absolute;
    bottom: 0;
  }
  &::before {
    bottom: 0;
  }
  &::after {
    top: 0;
  }
  @include media-breakpoint-down(md) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-bottom: 32px;
    max-width: 100%;
  @include media-breakpoint-down(md) {
    max-width: 100%;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 24px;
  }
}

.paragraph {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.03em;
  max-width: 450px;
  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 25px;    
  }
}

.paragraph img {
    width: 80%;
}

.bullets {
  margin-left: 25px;
  @include media-breakpoint-down(md) {
    margin-left: 0px;
    margin-top: 56px;
  }
}

.bulletText {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.03em;
  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 24px;
  }
}

.icon {
  margin-bottom: 32px;
  @include media-breakpoint-down(md) {
    margin-bottom: 16px;
    width: 56px;
    height: 56px;
  }
}

.btnBlue {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px;
  margin: 25px 0;
  color: #fff;
  background-color: #04f;
  border: 1px solid #04f;
  transition: 0.35s ease;
  @include media-breakpoint-down(sm) {
    padding: 8px 20px;
    display: block;
  }
  &:hover {
    background-color: transparent;
    color: #04f;
    text-decoration: none;
  }
}

.btnBlue:hover .outlineArrowBlue {
  -webkit-text-stroke-color: #04f;
}

.outlineArrowBlue {
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

