@import 'core';

.wrap {
  background-color: $dark;
  display: flex;
  align-items: flex-start;
}

.logo {
  display: block;
  color: #fff;
}

.field {
  display: block;
  position: relative;
  margin-top: -60px;
  max-width: 372px;
  @include media-breakpoint-down(md) {
    margin-top: 70px;
  }
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

.input {
  appearance: none;
  border: 2px solid transparent;
  width: 372px;
  height: 56px;
  background: rgba(#fff, 0.1);
  color: #ffffff;
  letter-spacing: -0.02em;
  font-weight: normal;
  font-size: 16px;
  padding: 21px 30px 20px 16px;
  border-radius: 0;
  &::placeholder {
    color: #ffffff;
  }
  &:focus {
    border-radius: 0;
    border: 2px solid #ffffff;
    outline: 0;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.btn_submit {
  appearance: none;
  border: 0;
  display: block;
  width: 16px;
  height: 16px;
  background: url(/img/arrow-white.svg) no-repeat center;
  box-shadow: none;
  padding: 28px;
  position: absolute;
  right: 0;
  top: 0;
}

.nav {
  list-style: none;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  max-width: 600px;
  margin-left: auto;
  padding: 0;
  @include media-breakpoint-down(md) {
    max-width: 100%;
    margin-top: 40px;
  }
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }
}

.nav_item {
  @include media-breakpoint-down(sm) {
    width: 50%;
    &:nth-child(3),
    &:last-child {
      margin-top: 48px;
    }
  }
}

.nav_title {
  font-weight: $headings-font-weight;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: $gray-600;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 14px;
}

.nav_link {
  display: table;
  clear: both;
  outline: 0;
  font-weight: $font-weight-base;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-top: 16px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.25s ease-in;
  &:hover {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
  }
}

.social_media {
  list-style: none;
  padding: 0;
}

.social_link {
  display: inline-block;
  margin-top: 16px;
  color: #fff;
  &:hover {
    color: #0044ff;
  }
}

.copy {
  display: inline-block;
  list-style: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  
  &:nth-child(1) {
    margin-left: -40px;
  }
  a {
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
}

.loading {
  opacity: 0.5;
}

.input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #333 inset !important;
}

.error {
  color: white;
  margin-top: 8px;
  font-size: 14px;
  color: #f07582;
}

.success {
  color: #fff;
  margin-top: 8px;
  font-size: 14px;
  height: 56px;
  display: flex;
  align-items: center;

  margin-top: -60px;

  @include media-breakpoint-down(md) {
    margin-top: 70px;
  }

  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}
