@import 'core';

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
  @include media-breakpoint-down(sm) {
    padding: 0px;
  }
}

.group {
  margin-bottom: 40px;
}

.inputField {
  position: relative;
  width: 100%;
  // margin-bottom: 40px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.03em;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $dark;
  transition: 0.2s all;
  opacity: 0.6;
  cursor: text;
  margin-bottom: 4px;
  pointer-events: none;
}
.labelError {
  bottom: 24px;
}

.input {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  padding: 0;
  padding-bottom: 3.5px;
  border-bottom: 1px solid $grey-light;
  box-shadow: none;
  color: $dark;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.03em;
}

.inputError {
  border-bottom: 1px solid $error;
}

.input:invalid {
  outline: 0;
}

.input:focus {
  border-color: $blue;
}

.select:focus ~ label,
.select:valid ~ label,
.input:focus ~ label,
.input:not(:placeholder-shown) ~ label {
  font-size: 14px;
  line-height: 17px;
  bottom: 36px;
  margin-bottom: 0px;
}

.selectWrap {
  position: relative;

  &:after {
    position: absolute;
    top: 12px;
    right: 0;

    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
  }
}

.select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  padding: 0;
  padding-bottom: 3.5px;
  border-bottom: 1px solid $grey-light;
  box-shadow: none;
  color: $dark;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.03em;
}

.select,
.input {
  &:focus {
    outline: 0;
    border-bottom-color: $blue;
  }
}

.error {
  display: block;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;
  color: $error;
  margin-top: 4px;
}

.btnPrimary {
  margin-top: 24px;
  width: 228px;
  height: 48px;
  @include media-breakpoint-down(sm) {
    margin-top: 0px;
    display: block;
    width: 100%;
  }
}
