@import 'core';

.wrap {
  color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
    background: #000;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 24px 88px 24px 48px;
  @include media-breakpoint-only(xs) {
    padding: 20px 24px;
  }
}
.contactContent {
  padding: 24px 48px;
  @include media-breakpoint-only(xs) {
    padding: 20px 24px;
  }
}
.bgWhite {
  background-color: black;
  color: $dark;
}
.headerMenu {
  background-color: $dark;
  color: #ffffff;
  &::after {
    content: none;
  }
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.logo {
  max-width: 153px;
  @include media-breakpoint-down(lg) {
    max-width: 141px;
    height: 40px;
  }
}

.colorDark {
  color: $dark;
  transition: color 0.45s cubic-bezier(0.25, 0.1, 0, 1);
}
.colorLight {
  color: #ffffff;
  transition: color 0.45s cubic-bezier(0.25, 0.1, 0, 1);
}

.links {
  display: flex;
  min-width: 80%;
  justify-content: flex-end;
}

.link {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 29px;
  border-bottom: 2px solid transparent;
  @include media-breakpoint-down(md) {
    //display: none;
  }
}

.link:hover {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.linkBlack {
  color: $dark;
  &:hover {
    color: $dark;
    border-bottom: 2px solid $dark;
  }
}
.linkBlue {
  color: #ffffff;
  &:hover {
  color: #ffffff;
    border-bottom: 2px solid #ffffff;
  }
}

.menu {
  display: none;
  padding: 0;
  background-color: transparent;
  border: 0;

  @include media-breakpoint-down(lg) {
    display: block;
  }
}

.subtitle {
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: -0.03em;
  max-width: 327px;
  margin-bottom: 64px;
}

.bottomLine {
  width: 100%;
  height: 4px;
  background-color: black;
  z-index: 1000;
}

@include media-breakpoint-down(lg) {
  .btnContainer {
    display: flex;
    flex-direction: column;
  }

  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 148px 24px;
    margin: 0;
    min-height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    z-index: 0;
    transition: right 0.65s cubic-bezier(0.25, 0.1, 0, 1);
    background: url('/img/menu-bg.svg') no-repeat bottom right $dark;
    background-size: 65% auto;
    background-position-y: 104%;
  }

  .menuBg {
    right: 0;
  }

  .btn,
  .link {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-left: 0;
    &:first-child {
      border: 1px solid #ffffff;
    }
    &:last-child {
      background-color: $blue;
      margin-bottom: 24px;
      border: 0;
    }
  }

  .btn:hover {
    color: #fff;
  }
}
