@import 'core';

.wrap {
  overflow: hidden;
  background-color: #fff;
  color: black;
  padding: 50px 0px 100px;
  @include media-breakpoint-down(sm) {
    padding: 35px 0px 35px;
  }
}
.paragraph img {
  width: 100%;
}

.smallTitle {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
  letter-spacing: -0.04em;
  margin: 16px 0;
  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
  }
}
