@import 'core';

.imageWrap {
  overflow: hidden;
  display: inline-block;
  position: relative;
  max-width: 451px;
  width: 100%;
  // maheight: 594px;
}

/**.imageWrap::after {
  content: '';
  background: white;
  width: 136px;
  height: 41px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: scaleX(2.2);
  transition: transform 1200ms cubic-bezier(0.25, 0.1, 0, 1);
  transition-delay: 250ms;
}
#vertical_2 .imageWrap::after {
  content: '';
  background: white;
  width: 136px;
  height: 41px;
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;
}
**/

.imageWrap .img {
  opacity: 0;
  transform: scale(1.15, 1.15);
  transition: transform 1200ms cubic-bezier(0.25, 0.1, 0, 1), opacity 300ms ease-out;
  transform-origin: center;
  transition-delay: 250ms;
}

.imageWrap.inView .img {
  //transform: scale(1);
  transform: scale(1, 1);
  opacity: 1;
}

.imageWrap.inView:after {
  transform: scaleX(1);
}

.img {
  width: 100%;
  height: auto;
}
