@import 'core';

.wrap {
  overflow: hidden;
  background-color: black;
  color: white;
  ppadding: 60px 0px 30px 0px;
  @include media-breakpoint-down(sm) {
    padding: 79px 0px 104px; 
  }
}

.wrap img {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.wrapSmaller {
  overflow: hidden;
  background-color: $light;
  color: black;
  padding: 50px 0px;
  @include media-breakpoint-down(sm) {
    padding: 35px 0px 50px;
  }
}

.smallWrap {
  overflow: hidden;
  background-color: $light;
  color: black;
  padding: 2rem 0px 119px;
  @include media-breakpoint-down(sm) {
    padding: 35px 0px 50px;
  }
}

.title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
  letter-spacing: -0.04em;
  margin-bottom: 32px;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 24px;
  }
}

.titleSmaller {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    letter-spacing: -.04em;
    margin: 32px 0 16px 0;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 24px;
  }
}

.smallTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #04f;
  letter-spacing: -0.04em;
  margin: 16px 0;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

.subTitle {
font-weight: 300;
    font-size: 18px;
    line-height: 12px;
    letter-spacing: -.03em;
    margin-bottom: 8px;
  @include media-breakpoint-down(sm) {
    font-size: 21px;
    line-height: 25px;
  }
}

.rowNum {
  font-size: 8rem;
  text-align: right;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 2px #04f, 0 0 2px #04f; 
  margin-top: -.2em;
}

.subTitle {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 41px;
  }
}

.subTitleCTA {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  color: #04f;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 41px;
  }
}

.bulletList {
  list-style: none;
  margin-top: 50px;
  color: white;
}

.bulletListItem {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.03em;
  padding-bottom: 25px;
 color: white;
  &::before {
    content: "•";
    font-weight: 700;
    color: #04f;
    display: inline-block;
    width: 25px;
    margin-left: -25px;
  }
  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 24px;
  }
}

.btnBlue {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px;
  margin: 25px 0;
  color: #fff;
  background-color: #04f;
  border: 1px solid #04f;
  transition: 0.35s ease;
  @include media-breakpoint-down(sm) {
    padding: 8px 20px;
    display: block;
  }
  &:hover {
    background-color: transparent;
    color: #04f;
  }
}

.outlineArrowBlue {
  color:#04f;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

// Images

.img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  padding: 40px;
}





