@import 'core';

.link {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.card {
  padding: 32px 24px 19px;
  margin-right: 24px;
  background-color: $light;
  color: black;
  position: relative;
  max-width: 360px;
  min-height: 505px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.25s;

  &:hover {
    transform: translateY(-8px);
  }
  @include media-breakpoint-down(md) {
    &:hover {
      transform: translateY(0);
    }
  }
  @include media-breakpoint-down(sm) {
    max-width: 303px;
    min-height: 395px;
  }
}

.content {
  z-index: 1;
}

.variant {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
  color: #0044ff;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}
.caseStudy > div > .variant {
  color: $blue;
}
.paper > div > .variant {
  color: $grey-gencove;
}
.whitePaper > div > .variant {
  color: $aqua;
}

.title {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -.04em;
  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 29px;
  }
}

.date {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 22px;
  }
}

.img {
  position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}
