@import 'core';

.wrap {
  color: black;
  width: 100%;
  overflow: hidden;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 44px;
  position: relative;
  @include media-breakpoint-down(md) {
    padding-bottom: 48px;
  }
  &::after {
    content: '';
    width: 100vw;
    height: 1px;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
  }
}

.title {
  font-weight: 300;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: -0.04em;
  @include media-breakpoint-down(md) {
    font-size: 32px;
    line-height: 39px;
  }
}

.btnLink {
  padding: 16px 0px;
  font-size: 18px;
  line-height: 100%;

  &:hover:after,
  &:focus:after {
    width: 100%;
    left: 0px;
    bottom: 8px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}

.heading {
  color: $grey-gencove;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 22px;
  }
}

.news {
  padding: 40px 0px 48px;
  @include media-breakpoint-down(md) {
    padding: 48px 0px 32px;
  }
  & > div > div {
    width: 50%;
    margin-right: 40px;
    @include media-breakpoint-down(lg) {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 24px;
    }
  }
  & > div > div > a {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.03em;
    color: #000000;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.04em;
    }
  }
}

.arrow {
  margin-left: 10px;
}

.resources {
  position: relative;
  width: 1512px;
  height: auto;
  margin-bottom: 50px;
  @include media-breakpoint-down(lg) {
    width: 1128px;
    margin-bottom: 100px;
  }
  @include media-breakpoint-down(sm) {
    width: 630px;
    height: 400px;
  }
}
