@import 'core';

.wrap {
  min-height: 90px;
  color: black;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 50px;
    padding-bottom: 50px;
    
  .container{
    @include media-breakpoint-down(sm) {
      &::after {
        content: '';
        width: 100vw;
        height: 1px;
        background-color: $gray-100;
        position: absolute;
        top: 0px;
      }
    }
  }
}
.index {
  padding: 55px 0px;
  @include media-breakpoint-down(sm) {
    padding: 48px 0px;
    margin-top: 40px;
  }
  @include media-breakpoint-down(xs) {
    padding: 48px 0px 230px;
  }
}
.about {
  padding: 88px 0px;
  @include media-breakpoint-down(sm) {
    padding: 56px 0px;
  }
  @include media-breakpoint-down(xs) {
    padding: 56px 0px 195px;
  }
}
.text {
  width: 31%;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
.brands {
  width: 69%;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
.indexBrands {
  @include media-breakpoint-down(xs) {
    position: absolute;
    left: 0;
    width: 100%;
    top: 120px;
  }
}
.aboutBrands {
  @include media-breakpoint-down(xs) {
    position: absolute;
    left: 0;
    width: 100%;
    top: 155px;
  }
}

.title {
    font-weight: 300;
    font-size: 28px;
    line-height: 48px;
    margin-top: 48px;
  @include media-breakpoint-down(sm) {
    font-size: 21px;
    line-height: 25px;
    margin-top: 0;
  }
}

.indexTitle {
  margin-top: 19px;
  @include media-breakpoint-down(md) {
    margin-top: 9px;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 0px;
    margin-bottom: 14px;
  }
}
.aboutTitle {
  margin-top: 9px;
  @include media-breakpoint-down(md) {
    margin-top: 0px;
    margin-bottom: 24px;
  }
}

.logo {
  @include media-breakpoint-down(md) {
    width: 25% !important;
  }
  @include media-breakpoint-down(sm) {
    width: 33.3% !important;
  }
  @include media-breakpoint-down(xs) {
    max-width: 150px;
  }
}

.indexLogos {
  @include media-breakpoint-down(sm) {
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 3;
    }
    &:nth-child(4) {
      order: 7;
      max-width: 25%;
    }
    &:nth-child(5) {
      order: 8;
      max-width: 25%;
    }
    &:nth-child(6) {
      order: 4;
    }
    &:nth-child(7) {
      order: 5;
    }
    &:nth-child(8) {
      order: 6;
    }
    &:nth-child(9) {
      order: 9;
      max-width: 25%;
    }
    &:nth-child(10) {
      order: 10;
      max-width: 25%;
    }
  }
}

.aboutLogos {
  @include media-breakpoint-down(sm) {
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 3;
    }
    &:nth-child(4) {
      order: 4;
    }
    &:nth-child(5) {
      order: 6;
    }
    &:nth-child(6) {
      order: 8;
    }
    &:nth-child(7) {
      order: 5;
    }
    &:nth-child(8) {
      order: 7;
    }
  }
}

.paragraph img {
  width: 100%;
}
