@import 'core';

@function get-breakpoints($key) {
  @return map-get($container-max-widths, $key);
}

$border-width: 40px;

$margin-l-xl: calc(((100% - #{get-breakpoints('xl')}) / 2) - (#{$border-width}/ 2));
$margin-r-xl: calc(((100% - #{get-breakpoints('xl')}) / 2) + (#{$border-width}/ 2));

.wrap {
  height: 100px;
  background: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.index {
    border-left: 0;
}
.about {
    border-left: 0;
}

.container {
  margin-right: $margin-r-xl;
  margin-left: $margin-l-xl;
  @include media-breakpoint-down(lg) {
    margin-right: auto;
    margin-left: auto;
  }
}

.title {
  color: #fff;
  font-weight: $headings-font-weight;
  line-height: 62px;
  font-size: 24px;
  font-weight: 300;

  @include media-breakpoint-down(md) {
    font-size: 18px;
    line-height: 39px;
  }
}

.btnOutline {
  line-height: 20px;
  padding: 16px 73px;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.btnBlue {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px;
  margin: 25px 0;
  color: #fff;
  background-color: #04f;
  border: 1px solid #04f;
  transition: 0.35s ease;
  @include media-breakpoint-down(sm) {
    padding: 8px 20px;
    display: block;
  }
  &:hover {
    background-color: transparent;
    color: #04f;
    text-decoration: none;
  }
}

.outlineArrowBlue {
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  font-weight: 700;
}
