@import 'core';

.wrap {
  padding-top: 120px;

  @include media-breakpoint-down(md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-bottom: 32px;

  @include media-breakpoint-down(md) {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 39px;
  }
}

.subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: -0.03em;
  margin-bottom: 32px;

  @include media-breakpoint-down(md) {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
  }
}

.copy {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.03em;

  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 24px;
  }
}
