@import 'core';

.wrap {
  background: $light;
  display: flex;
  border-left: 42px solid #fff;
  position: relative;
  overflow: hidden;
}

.lines {
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  max-width: 580px;
  margin: 107px auto 81px;
  position: relative;
  @include media-breakpoint-down(sm) {
    margin: 189px 0 136px;
    max-width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    width: 41px;
    height: 39px;
    top: 0px;
    left: -77px;
    background: url('/img/testimonials/quotes.svg');
    @include media-breakpoint-down(sm) {
      top: -63px;
      left: 0px;
    }
  }
}

.paragraph {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.04em;
  margin: 0px;
  padding-bottom: 24px;
  position: relative;
  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 29px;
  }
}

.name {
  margin: 16px 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.03em;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 24px;
  }
}

.position {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 22px;
  }
}
