@import 'core';

.wrap {
  display: flex;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
    padding-bottom: 10px;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.content::after {
  content: '';
  width: 100vw;
  height: 1px;
  position: absolute;
  bottom: 0;
}

.content:last-child::after {
  content: none;
}

.imgBox {
  width: 50%;
  padding-right: 132px;
  @include media-breakpoint-down(lg) {
    padding-right: 88px;
  }
  @include media-breakpoint-down(md) {
    padding-right: 44px;
  }
  @include media-breakpoint-down(sm) {
    justify-content: center;
    width: 100%;
    padding: 0;
  }
}

.textBox {
  width: 50%;
  padding: 0 0 0 20px;

  @include media-breakpoint-down(sm) {
    margin-top: 40px;
    width: 100%;
    padding: 0;
  }
}

.title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-bottom: 0px;
  @include media-breakpoint-down(sm) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
  }
}
.subTitle {
font-weight: 300;
    font-size: 18px;
    line-height: 12px;
    letter-spacing: -.03em;
    margin-bottom: 8px;
  @include media-breakpoint-down(sm) {
    font-size: 21px;
    line-height: 25px;
  }
}
.paragraph {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }
}

.linksBtns {
  margin-top: 48px;
  font-size: 16px;
  line-height: 16px;
  @include media-breakpoint-down(sm) {
    margin-top: 40px;
    line-height: 20px;
  }
}

.btnBlue {
  display: inline-block;
  font-weight: 700;
  padding: 16px 40px;
  @include media-breakpoint-down(sm) {
    line-height: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
  }
}

.btnBlue {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px;
  margin: 25px 0;
  color: #fff;
  background-color: #04f;
  border: 1px solid #04f;
  transition: 0.35s ease;
  @include media-breakpoint-down(sm) {
    padding: 8px 20px;
    display: block;
  }
  &:hover {
    background-color: transparent;
    color: #04f;
  }
}

.outlineArrowBlue {
  color:#04f;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.pricingUL {
  list-style: none;
}

.pricingULItem {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.03em;
  padding-bottom: 10px;

  &::before {
    content: "-";
    font-weight: 700;
    color: #04f;
    display: inline-block;
    width: 25px;
    margin-left: -25px;
  }

  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 24px;
  }
}
