@import 'core';

.wrap {
  padding: 177px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    padding: 80px 0px;
  }
}

.title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: -0.04em;
  margin-bottom: 24px;
  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 29px;
  }
}

.subTitle {
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -0.04em;
  margin-bottom: 67px;
  @include media-breakpoint-down(sm) {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
  }
}
.partner {
  position: relative;
  padding-bottom: 46px;
  &::after {
    content: '';
    width: 100vw;
    height: 1px;
    background-color: $gray-100;
    position: absolute;
    bottom: 0;
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 0px;
    &::after {
      content: none;
    }
  }
}
.partner .logo {
  display: block;
  width: 109px;
  margin-bottom: 13px;
  @include media-breakpoint-down(md) {
    width: 85px;
  }
}

.logoText {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.03em;
  @include media-breakpoint-down(md) {
    font-size: 14px;
    line-height: 22px;
    max-width: 326px;
  }
}

.numbers {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    margin-top: 40px;
  }
}

.box {
  width: 33%;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
    width: 100%;
  }
}
.box:last-child {
  @include media-breakpoint-down(lg) {
    margin-bottom: 0px;
  }
}

.number {
  color: $blue;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $blue;
  font-weight: 700;
  font-size: 184px;
  line-height: 140px;
  letter-spacing: -0.04em;
  margin-bottom: 30px;
  position: relative;
  left: -10px;
  @include media-breakpoint-down(md) {
    font-size: 120px;
    line-height: 94px;
    margin-bottom: 16px;
    left: -5px;
  }
}

.numberText {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.03em;
  max-width: 290px;
  @include media-breakpoint-down(md) {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    max-width: 200px;
  }
}
